/* line 3, ../sass/style.sass */
header {
  position: relative;
  width: 100%;
  height: 350px;
  z-index: 110;
  background-color: aqua;
}

/* line 9, ../sass/style.sass */
section {
  position: relative;
}
/* line 11, ../sass/style.sass */
section .wrapper_1, section .wrapper_2, section .wrapper_3, section .wrapper_4, section .wrapper_5 {
  width: 100%;
  height: auto;
  margin-top: -67px;
  background-attachment: fixed;
  background-image: url("../images/img_bg_1.png");
  background-position: center center;
  background-size: cover;
  transform: skewY(2deg);
  z-index: 100;
  position: relative;
}
/* line 22, ../sass/style.sass */
section .wrapper_1 .bg_1, section .wrapper_2 .bg_1, section .wrapper_3 .bg_1, section .wrapper_4 .bg_1, section .wrapper_5 .bg_1, section .wrapper_2 .bg_2, section .wrapper_3 .bg_3, section .wrapper_4 .bg_4, section .wrapper_5 .bg_5 {
  width: 100%;
  height: 300px;
  background-color: #2abb99;
}
/* line 26, ../sass/style.sass */
section .wrapper_1 .img_bg_1, section .wrapper_2 .img_bg_1, section .wrapper_3 .img_bg_1, section .wrapper_4 .img_bg_1, section .wrapper_5 .img_bg_1, section .wrapper_2 .img_bg_2, section .wrapper_3 .img_bg_3, section .wrapper_4 .img_bg_4 {
  width: 100%;
  height: 200px;
  overflow: hidden;
  background: url("../images/overlay.png");
}
/* line 31, ../sass/style.sass */
section .cycle_out_1, section .cycle_out_2, section .cycle_out_3, section .cycle_out_4, section .cycle_out_5 {
  width: 110px;
  height: 110px;
  border: 5px solid #3dddc0;
  border-radius: 100px;
  background-color: #fff;
  z-index: 200;
  position: absolute;
  left: 50%;
  margin-left: -65px;
  top: -6px;
}
/* line 42, ../sass/style.sass */
section .cycle_inset_1, section .cycle_out_2 .cycle_inset_2, section .cycle_out_3 .cycle_inset_3, section .cycle_out_4 .cycle_inset_4, section .cycle_out_5 .cycle_inset_5 {
  width: 100px;
  height: 100px;
  border: 5px solid #25ab87;
  border-radius: 100px;
  justify-content: center;
  align-items: center;
}
/* line 50, ../sass/style.sass */
section .cycle_inset_1 img, section .cycle_out_2 .cycle_inset_2 img, section .cycle_out_3 .cycle_inset_3 img, section .cycle_out_4 .cycle_inset_4 img, section .cycle_out_5 .cycle_inset_5 img {
  width: 65px;
}
/* line 53, ../sass/style.sass */
section .wrapper_2 {
  background-image: url("../images/img_bg_2.png");
  transform: skewY(-2deg);
  z-index: 90;
}
/* line 58, ../sass/style.sass */
section .wrapper_2 .bg_2 {
  background-color: #dd5834;
}
/* line 63, ../sass/style.sass */
section .cycle_out_2 {
  border-color: #f37b4b;
}
/* line 66, ../sass/style.sass */
section .cycle_out_2 .cycle_inset_2 {
  border-color: #d15337;
}
/* line 69, ../sass/style.sass */
section .wrapper_3 {
  background-color: #b5aebc;
  background-image: none;
  transform: skewY(2deg);
  z-index: 80;
}
/* line 75, ../sass/style.sass */
section .wrapper_3 .bg_3 {
  background-color: #2980b9;
}
/* line 80, ../sass/style.sass */
section .cycle_out_3 {
  border-color: #34a4ce;
}
/* line 83, ../sass/style.sass */
section .cycle_out_3 .cycle_inset_3 {
  border-color: #2981ba;
}
/* line 86, ../sass/style.sass */
section .wrapper_4 {
  background-image: url("../images/img_bg_4.png");
  transform: skewY(-2deg);
  z-index: 70;
}
/* line 91, ../sass/style.sass */
section .wrapper_4 .bg_4 {
  background-color: #e7b41a;
}
/* line 94, ../sass/style.sass */
section .wrapper_4 .bg_4 .content_4 {
  transform: skewY(2deg);
}
/* line 98, ../sass/style.sass */
section .cycle_out_4 {
  border-color: #f2dd66;
}
/* line 101, ../sass/style.sass */
section .cycle_out_4 .cycle_inset_4 {
  border-color: #f1c40f;
}
/* line 104, ../sass/style.sass */
section .wrapper_5 {
  background-image: url("../images/img_bg_4.png");
  transform: skewY(2deg);
  z-index: 60;
}
/* line 109, ../sass/style.sass */
section .wrapper_5 .bg_5 {
  background-color: #674692;
}
/* line 112, ../sass/style.sass */
section .cycle_out_5 {
  border-color: #a976d6;
}
/* line 115, ../sass/style.sass */
section .cycle_out_5 .cycle_inset_5 {
  border-color: #734fa3;
}

@media only screen and (min-width: 1280px) {
  /* line 122, ../sass/style.sass */
  .wrap {
    display: flex;
    flex-flow: row wrap;
  }

  /* line 125, ../sass/style.sass */
  .nowrap, section .cycle_inset_1, section .cycle_out_2 .cycle_inset_2, section .cycle_out_3 .cycle_inset_3, section .cycle_out_4 .cycle_inset_4, section .cycle_out_5 .cycle_inset_5 {
    display: flex;
    flex-flow: row nowrap;
  }
}
