@import "value"
@import "media-queries"
header
  width: 100%
  height: auto
  margin-bottom: -4px
main
  margin-bottom: 35px
img
  width: 100%
.wrap
  display: flex
  flex-flow: row wrap
.nowrap
  display: flex
  flex-flow: row nowrap
.icon
  @extend .nowrap
  align-items: center
  justify-content: center
  height: 50px
  width: 50px
  border: 2px solid #edf4f9
  border-radius: 50px
  img
    width: 60%
.text
  text-align: center
  color: $color
  padding: 30px 0
  font-size: 38px
.img_header
  width: 100%
  position: relative
  .social
    position: absolute
    top: 20px
    right: 20px
    a
      color: #888888
      font-size: 28px
      padding: 0 10px
      &:hover,&:focus
        color: lighten(#888888, 10%)
  .bread
    width: 100%
    background-color: rgba(255, 255, 255, 0.71)
    text-align: center
    position: absolute
    bottom: 4px
    padding: 25px 0
    text-transform: uppercase
    color: #888888
    font-size: 18px
    font-family: verdana
    a
      color: #888888
      text-decoration: none
      &:hover,&:focus
        text-decoration: underline

$wrap_1: (par:"../images/par_1.png",color:rgba(255,255,255,0),img_2:"../images/w1_img_2.png",img_4:"../images/i_am_positive.png",img_3:"../images/w1_img_3.png",color_2: #ffcb42)
$wrap_2: (par:"../images/par_2.png",color:rgba(255,255,255,0),img_2:"../images/w2_img_2.png",img_4:"../images/heart_style.png",img_3:"../images/w2_img_3.png",color_2: #7aa332)
$wrap_3: (par:"../images/par_3.png",color:rgba(255,255,255,0),img_2:"../images/w3_img_2.png",img_4:"../images/Without_addiction.png",img_3:"../images/w3_img_3.png",color_2: #de7c34)
$wrap_4: (par:"../images/par_4.png",color:rgba(255,255,255,0),img_2:"../images/w4_img_2.png",img_4:"../images/My_passion.png",img_3:"../images/w4_img_3.png",color_2: #d53d3d)
$wrap_5: (par:"../images/par_5.png",color:rgba(255,255,255,0),img_2:"../images/w5_img_2.png",img_4:"../images/good_deed_collector.png",img_3:"../images/w5_img_3.png",color_2: #9a72b3)
$wrap_6: (par:"../images/par_6.png",color:rgba(255,255,255,0),img_2:"../images/w6_img_2.png",img_4:"../images/together.png",img_3:"../images/w6_img_3.png",color_2: #51bede)
$list_box: $wrap_1, $wrap_2, $wrap_3, $wrap_4, $wrap_5, $wrap_6
$i:1
@each $a in $list_box
  .wrap_#{$i}
    background-image: url(map_get($a,par))
    background-attachment: fixed
    background-position: bottom center
    background-size: cover
    .box_1
      @extend .nowrap
      align-items: center
      flex-direction: column
      background-color: map_get($a,color)
      padding: 90px
      .text
        font-family: $fontText_box_1
        font-size: 38px
    .box_2
      width: 100%
      height: auto
      margin-bottom: -4px
    .box_3
      background-color: map_get($a,color_2)
      transform: skewY(1deg)
      margin: -30px 0 -26px 0
      .text
        padding: 45px 0 65px 0
        font-family: $fontTextImg
        font-size: 36px
        @extend .nowrap
        align-items: center
        justify-content: center
        span
          font-size: 62px
          padding: 0 20px
    .box_4
      width: 100%
      //height: 500px
      transform: skewY(2deg)
      background-color: #fff
      padding: 40px 0
      margin-bottom: -75px
      .content
        @extend .wrap
        transform: skewY(-2deg)
        background-image: url(map_get($a,img_2))
        background-size: cover
        background-position: top center
        background-repeat: no-repeat
        height: 100%
        padding: 50px
        align-items: center
        color: $conten_text
        font-size: 18px
        font-family: $fontContet
        h2
          text-transform: uppercase
          font-size: 40px
        .img_con
          background-image: url(map_get($a,img_4))
          width: 30%
          min-height: 395px
          background-repeat: no-repeat
          background-position: center center
          background-size: contain
        .description
          padding: 0 5%
          width: 60%
        .button_buy
          margin: 0 auto
          .buy
            padding: 10px 0
            background: #57b4dc
            border: 5px solid #f0f1ed
            border-radius: 30px
            width: 125px
            text-align: center
            color: $color
            margin-right: 15%
            &:hover,&:focus
              background: rgba(87, 180, 220, 0.75)
              cursor: pointer
            a
              color: $color
              text-decoration: none
    .box_5
      background-image: url(map_get($a,img_3))
      width: 100%
      min-height: 395px
      background-repeat: no-repeat
      background-position: center center
      background-size: cover
      margin-top: 35px
      @extend .nowrap
      .slide
        @extend .nowrap
        align-items: center
        flex-direction: column
        padding: 50px 0
        width: 100%
        .persona
          width: 225px
          height: 225px
          border: 10px solid
          border-color: map_get($a,color_2)
          border-radius: 150px
          -webkit-box-shadow: 0px 0px 45px 25px rgba(255,255,255,1)
          -moz-box-shadow: 0px 0px 45px 25px rgba(255,255,255,1)
          box-shadow: 0px 0px 45px 25px rgba(255,255,255,1)
        .name
          font-size: 27px
          font-family: verdana
          font-weight: bold
          margin: 30px 0
          color: #7d8185
        .review
          font-family: verdana
          color: #7d8185
          font-size: 18px
          padding: 0 50px
          text-align: center
          width: 100%
      .slick-list
        margin: 0 auto
      .slick-arrow
        background: transparent
        border: 0
        .but
          width: 40px
          height: 40px
          background-color: #acaba9
          color: #fff
          border-radius: 40px
          border: 5px solid #fff
          @extend .nowrap
          align-items: center
          justify-content: center
          font-size: 20px
          margin: 0 20px

  $i:$i+1
=custom-device($min, $max)
  @include mq($media-type: 'all', $min-width: $min, $max-width: $max)
    @content
$i:1
+custom-device(320px, 980px)
  header
    position: relative
    .img_header
      position: static
      margin: 72px 0 0 0
      .social
        bottom: 4px
        top: auto
        right: auto
        width: 100%
        text-align: center
        background-color: rgba(255, 255, 255, 0.71)
        padding: 15px 0
      .bread
        top: -72px
        bottom: auto
  @each $a in $list_box
    .wrap_#{$i}
      .box_1
        padding: 50px 25px
        .text
          font-size: 28px
      .box_3
        .text
          flex-direction: column
      .box_4
        .content
          flex-direction: column
          padding: 10px
          .img_con
            width: 40%
            min-height: 200px
          .description
            width: 90%
            h2
              text-align: center
            p
              text-align: justify
      .box_5
        display: flex
        flex-direction: column
        flex-flow: row wrap
        align-items: center
        justify-content: center
        padding: 20px
        position: relative
        .slide
          .persona
            width: 175px
            height: 175px
        button
          position: absolute
          bottom: 30px
        .slick-list
          margin-bottom: 50px
        .slick-prev
          left: 25%
        .slick-next
          right: 25%
    $i:$i+1