@font-face
  font-family: 'BebasNeue'
  src: url('../fonts/BebasNeue.otf') format("opentype")
@font-face
  font-family: 'Chantilly-Serial-Bold'
  src: url('../fonts/Chantilly-Serial-Bold.ttf') format("opentype")
@font-face
  font-family: 'Chantilly-Serial-Light-Regular_0'
  src: url('../fonts/Chantilly-Serial-Light-Regular_0.ttf') format("opentype")
@font-face
  font-family: 'Chantilly-Serial-Regular'
  src: url('../fonts/Chantilly-Serial-Regular.ttf') format("opentype")
@font-face
  font-family: 'verdana'
  src: url('../fonts/verdana.ttf') format("opentype")
@font-face
  font-family: 'verdanab'
  src: url('../fonts/verdanab.ttf') format("opentype")
@font-face
  font-family: 'verdanai'
  src: url('../fonts/verdanai.ttf') format("opentype")
@font-face
  font-family: 'verdanaz'
  src: url('../fonts/verdanaz.ttf') format("opentype")
@font-face
  font-family: 'vrinda'
  src: url('../fonts/vrinda.ttf') format("opentype")
@font-face
  font-family: 'vrindab'
  src: url('../fonts/vrindab.ttf') format("opentype")
@font-face
  font-family: 'tunga'
  src: url('../fonts/tunga.ttf')format("embedded-opentype opentype")