@import "value"
@import "media-queries"
header
  width: 100%
  height: 350px
  background-color: darkgreen
.img_bg
  background-color: rgba(43, 22, 64, 0.35)
  min-height: 200px
.buy
  padding: 10px 0
  background: rgba(0, 0, 0, 0.35)
  border: 5px solid #f0f1ed
  border-radius: 30px
  width: 125px
  text-align: center
  color: $color
  margin-right: 15%
  &:hover,&:focus
    background: rgba(0, 0, 0, 0.55)
    cursor: pointer
  a
    color: $color
    text-decoration: none
.wrapper_1
  width: 100%
  min-height: 300px
  background-attachment: fixed
  background-image: url("../images/img_bg_1.png")
  background-position: top center
  background-size: cover
  z-index: 100
  position: relative
  //margin-top: -17px
  .bg_1
    background-color: $bg_1
    min-height: 300px
  .triangle-top_1
    background-color: $bg_1
    width: 100%
    height: 80px
    transform: skewY(2deg)
    margin-top: -40px
    margin-bottom: -35px
  .triangle-bottom_1
    background-color: $bg_2
    width: 100%
    height: 70px
    margin-top: -35px
    transform: skewY(2deg)
    margin-bottom: 5px
  .cycle_out_1
    width: 110px
    height: 110px
    border: 5px solid $border_cycle_out_1
    border-radius: 100px
    background-color: #fff
    z-index: 200
    position: absolute
    left: 50%
    margin-left: -65px
    top: -60px
  .cycle_inset_1
    display: flex
    flex-flow: row nowrap
    width: 100px
    height: 100px
    border: 5px solid $border_cycle_inside_1
    border-radius: 100px
    justify-content: center
    align-items: center
    img
      width: 65px
//------------------------------------------------------------
.wrapper_2
  @extend .wrapper_1
  background-image: url("../images/img_bg_2.png")
  .bg_2
    @extend .bg_1
    background-color: $bg_2
    transform: skewY(-2deg)
    .content
      transform: skewY(2deg)
      margin-bottom: -33px
  .triangle-top_2
    @extend .triangle-top_1
    background-color: $bg_2
    transform: skewY(0deg)
  .triangle-bottom_2
    @extend .triangle-bottom_1
    transform: skewY(-2deg)
    background-color: $bg_3
  .cycle_out_2
    top: -93px
    @extend .cycle_out_1
    border-color: $border_cycle_out_2
    .cycle_inset_2
      @extend .cycle_inset_1
      border-color: $border_cycle_inside_2
//------------------------------------------------------------
.wrapper_3
  @extend .wrapper_1
  background-image: url("../images/img_bg_3.png")
  .bg_3
    @extend .bg_1
    background-color: $bg_3
    transform: skewY(2deg)
    .content
      transform: skewY(-2deg)
      margin-bottom: -33px
  .triangle-top_3
    @extend .triangle-top_1
    background-color: $bg_3
    transform: skewY(0deg)
  .triangle-bottom_3
    @extend .triangle-bottom_1
    transform: skewY(2deg)
    background-color: $bg_4
    margin-bottom: -35px
  .cycle_out_3
    top: -93px
    @extend .cycle_out_1
    border-color: $border_cycle_out_3
    .cycle_inset_3
      @extend .cycle_inset_1
      border-color: $border_cycle_inside_3
//------------------------------------------------------------
.wrapper_4
  @extend .wrapper_1
  background-image: url("../images/img_bg_4.png")
  .bg_4
    @extend .bg_1
    background-color: $bg_4
    transform: skewY(-2deg)
    .content
      transform: skewY(2deg)
      margin-bottom: -33px
  .triangle-top_4
    @extend .triangle-top_1
    background-color: $bg_4
    transform: skewY(0deg)
    margin-top: 0
  .triangle-bottom_4
    @extend .triangle-bottom_1
    transform: skewY(-2deg)
    background-color: $bg_5
    margin-bottom: -35px
  .cycle_out_4
    top: -93px
    @extend .cycle_out_1
    border-color: $border_cycle_out_4
    .cycle_inset_4
      @extend .cycle_inset_1
      border-color: $border_cycle_inside_4
//------------------------------------------------------------
.wrapper_5
  @extend .wrapper_1
  background-image: url("../images/img_bg_4.png")
  .bg_5
    @extend .bg_1
    background-color: $bg_5
  .cycle_out_5
    top: -93px
    @extend .cycle_out_1
    border-color: $border_cycle_out_5
    .cycle_inset_5
      @extend .cycle_inset_1
      border-color: $border_cycle_inside_5
.text_img
  //min-height: 300px
  text-align: center
  color: white
  font-size: $fontText_img
  text-transform: uppercase
  //display: flex
  //justify-content: center
  //align-items: center
  padding: 120px 50px 140px 50px
  font-family: $fontTextImg

.separator
  border-right: 2px dashed rgba(255, 255, 255, 0.61)
  margin-left: -5px
//------------------------------------------------------------
.left_box_1
  .img_box_1
    background: url("../images/img_1.png") no-repeat center center
.right_box_1
  align-items: flex-end
  .img_box_2
    background: url("../images/img_2.png") no-repeat center center
  .text_block
    margin-right: 15%
//------------------------------------------------------------
.left_box_2
  .img_box_3
    background: url("../images/img_3.png") no-repeat center center
  .text_block
    text-align: left
    margin-left: 15%
.right_box_2
  align-items: flex-end
  .img_box_4
    background: url("../images/img_4.png") no-repeat center center
//------------------------------------------------------------
.left_box_3
  .img_box_5
    background: url("../images/img_5.png") no-repeat center center
.right_box_3
  align-items: flex-end
  .img_box_6
    background: url("../images/img_6.png") no-repeat center center
  .text_block
    margin-right: 15%
//------------------------------------------------------------
.left_box_4
  .img_box_7
    background: url("../images/img_7.png") no-repeat center center
  .text_block
    text-align: left
    margin-left: 15%
.right_box_4
  align-items: flex-end
  .img_box_8
    background: url("../images/img_8.png") no-repeat center center
//------------------------------------------------------------
.left_box_5
  .img_box_9
    background: url("../images/img_9.png") no-repeat center center
.right_box_5
  align-items: flex-end
  .img_box_10
    background: url("../images/img_10.png") no-repeat center center
  .text_block
    margin-right: 15%
//+custom-device(980px)
.wrap
  display: flex
  flex-flow: row wrap
.nowrap
  display: flex
  flex-flow: row nowrap
.text_block
  text-align: right
  font-family: $font
  width: 80%
  .title
    font-weight: bold
    text-transform: uppercase
    color: $color
    font-size: $size_up
    margin: 0
    font-family: $fontTitle
    line-height: 50px
  .subtitle
    color: $color
    margin: 10px 0
.content
  @extend .nowrap
  width: 100%
  justify-content: space-around
  padding: 55px 0
  .box
    @extend .nowrap
    flex-direction: column
    min-height: 500px
    width: 44%
    margin: 0 3%
  .box_img
    min-height: 500px
    width: 100%
    background-size: contain !important
.hidden
  opacity: 0
.visible
  opacity: 1

=custom-device($min, $max)
  @include mq($media-type: 'all', $min-width: $min, $max-width: $max)
    @content
+custom-device(320px, 980px)
  .text_block
    text-align: center
    font-family: $font
    width: 100%
    .title
      font-weight: bold
      text-transform: uppercase
      color: $color
      font-size: $size_up
      margin: 0
    .subtitle
      color: $color
      margin: 10px 0
  .content
    width: 100%
    justify-content: space-around
    padding: 0
    display: flex
    flex-direction: column
    align-items: center
    .box
      flex-direction: column
      min-height: 320px
      width: 90%
      margin: 40px 3%
    .box_img
      min-height: 320px
      width: 100%
      background-size: contain !important
      margin: 0 auto
    .separator
      border-bottom: 2px dashed rgba(255, 255, 255, 0.61)
      width: 80%
      height: 1px
      margin: 20px 0
    .left_box_1
      margin-top: 100px
    .left_box_1,
    .right_box_1,
    .left_box_2,
    .right_box_2,
    .left_box_3,
    .right_box_3,
    .left_box_4,
    .right_box_4,
    .left_box_5,
    .right_box_5
      align-items: center
      .text_block
        margin: 0
        text-align: center
    .buy
      margin: 40px 0
  .text_img
    //min-height: 400px
    font-size: $fontText_img_small
