@import "value"
@import "media-queries"
header
  position: relative
  width: 100%
  height: 350px
  z-index: 110
  background-color: aqua
section
  position: relative
  .wrapper_1
    width: 100%
    height: auto
    margin-top: -67px
    background-attachment: fixed
    background-image: url("../images/img_bg_1.png")
    background-position: center center
    background-size: cover
    transform: skewY(2deg)
    z-index: 100
    position: relative
    .bg_1
      width: 100%
      height: 300px
      background-color: $bg_1
    .img_bg_1
      width: 100%
      height: 200px
      overflow: hidden
      background: url("../images/overlay.png")
  .cycle_out_1
    width: 110px
    height: 110px
    border: 5px solid $border_cycle_out_1
    border-radius: 100px
    background-color: #fff
    z-index: 200
    position: absolute
    left: 50%
    margin-left: -65px
    top: -6px
  .cycle_inset_1
    @extend .nowrap
    width: 100px
    height: 100px
    border: 5px solid $border_cycle_inside_1
    border-radius: 100px
    justify-content: center
    align-items: center
    img
      width: 65px

  .wrapper_2
    @extend .wrapper_1
    background-image: url("../images/img_bg_2.png")
    transform: skewY(-2deg)
    z-index: 90
    .bg_2
      @extend .bg_1
      background-color: $bg_2
    .img_bg_2
      @extend .img_bg_1
  .cycle_out_2
    @extend .cycle_out_1
    border-color: $border_cycle_out_2
    .cycle_inset_2
      @extend .cycle_inset_1
      border-color: $border_cycle_inside_2
  .wrapper_3
    @extend .wrapper_1
    background-color: $bg_3_1
    background-image: none
    transform: skewY(2deg)
    z-index: 80
    .bg_3
      @extend .bg_1
      background-color: $bg_3
    .img_bg_3
      @extend .img_bg_1
  .cycle_out_3
    @extend .cycle_out_1
    border-color: $border_cycle_out_3
    .cycle_inset_3
      @extend .cycle_inset_1
      border-color: $border_cycle_inside_3
  .wrapper_4
    @extend .wrapper_1
    background-image: url("../images/img_bg_4.png")
    transform: skewY(-2deg)
    z-index: 70
    .bg_4
      @extend .bg_1
      background-color: $bg_4
      .content_4
        transform: skewY(2deg)
    .img_bg_4
      @extend .img_bg_1
  .cycle_out_4
    @extend .cycle_out_1
    border-color: $border_cycle_out_4
    .cycle_inset_4
      @extend .cycle_inset_1
      border-color: $border_cycle_inside_4
  .wrapper_5
    @extend .wrapper_1
    background-image: url("../images/img_bg_4.png")
    transform: skewY(2deg)
    z-index: 60
    .bg_5
      @extend .bg_1
      background-color: $bg_5
  .cycle_out_5
    @extend .cycle_out_1
    border-color: $border_cycle_out_5
    .cycle_inset_5
      @extend .cycle_inset_1
      border-color: $border_cycle_inside_5
=custom-device($min)
  @include min-screen($min)
    @content
+custom-device(1280px)
  .wrap
    display: flex
    flex-flow: row wrap
  .nowrap
    display: flex
    flex-flow: row nowrap
  .wrapper_1


