extends base
block style
   link(rel='stylesheet' href='../css/adult.css')
   link(rel="stylesheet" type="text/css" href="../css/slick.css")
block main
   header
      .img_header
         img(src="../images/header.png")
         .social
            a(href="")
               i.fa.fa-apple
            a(href="")
               i.fa.fa-android
            a(href="")
               i.fa.fa-facebook
            a(href="")
               i.fa.fa-twitter
            a(href="")
               i.fa.fa-vk
         .bread
            span
            a(href="") HOME
            |/ADULT
   include value
   main
      each item, index in i
         div(class='wrap_' + (index + 1))
            .box_1
               .icon.zoom
                  img(src='../images/' + item.icon)
               .text.zoom
                  =item.text
            .box_2
               img(src='../images/' + item.box_2_img)
               .triangle
            .box_3
               .text.zoom
                  !{item.box_3_text}
            .box_4
               .content
                  .img_con.zoom
                  .description.zoom
                     !{item.description}
                  .button_buy.zoom
                     .buy
                        a(href='') BUY NOW

            .box_5.single-item
               each j in slider_wrap_1
                  .slide
                     .persona.zoom
                        img(src='../images/' + j.persona)
                     .name.zoom
                        =j.name
                     .review.zoom
                        =j.review
block script
   script(type="text/javascript" src="../js/slick.js")
   script.
      $('.single-item').slick({autoplay:true});
