doctype html
html
    head(lang="ru")
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        link(rel='stylesheet' href='../css/normalize.css')
        link(rel='stylesheet' href='../css/font-awesome.min.css')
        link(rel='stylesheet' href='../css/base.css')
        link(rel='stylesheet' href='../css/animate.css')
        link(rel='stylesheet' href='../css/font.css')
        block style
        title
            block title
    body
        block main
    footer
        .content_footer
            .left
            .right
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js")
    script(src='../js/main.js')
    script(src='../js/jquery.viewportchecker.min.js')
    block script
