extends base
block style
   link(rel='stylesheet' href='../css/style_2.css')
block main
   header
      | dfvgdfg
   section
      .wrapper_1
         .cycle_out_1.zoom
            .cycle_inset_1
               img(src='../images/like.png')
         .bg_1
            .content
               .left_box_1.box
                  .img_box_1.box_img
               .separator
               .right_box_1.box
                  .text_block.zoom
                     p.title I am positive
                     p.subtitle Fill your soul with happiness. Change your emotions.
                  .img_box_2.box_img
                  .buy
                     a(href='') BUY NOW
         .triangle-top_1
         .img_bg
            .text_img.zoom
               | in 21 days 
         .triangle-bottom_1
   section
      .wrapper_2
         .cycle_out_2.zoom
            .cycle_inset_2
               img(src='../images/heart.png')
         .triangle-top_2
         .bg_2
            .content
               .left_box_2.box
                  .text_block.zoom
                     p.title Healthy style
                     p.subtitle Fall in love with your body. Get accustomed to caring about every centimeter of your body
                  .img_box_3.box_img
               .separator
               .right_box_2.box
                  .img_box_4.box_img
                  .buy
                     a(href='') BUY NOW
         .img_bg
            .text_img.zoom
               |Do not wait, the time will never be just right
         .triangle-bottom_2
   section
      .wrapper_3
         .cycle_out_3.zoom
            .cycle_inset_3
               img(src='../images/capsule.png')
         .triangle-top_3
         .bg_3
            .content
               .left_box_3.box
                  .img_box_5.box_img
               .separator
               .right_box_3.box
                  .text_block.zoom
                     p.title Without addiction
                     p.subtitle Free your body and mind. 21 days is a good starting point. Regain control over your life
                  .img_box_6.box_img
                  .buy
                     a(href='') BUY NOW
         .img_bg
            .text_img.zoom
               |Give every day the chance to become the most beautiful day of your life
         .triangle-bottom_3
   section
      .wrapper_4
         .cycle_out_4.zoom
            .cycle_inset_4
               img(src='../images/fire.png')
         .triangle-top_4
         .bg_4
            .content
               .left_box_4.box
                  .text_block.zoom
                     p.title My passion
                     p.subtitle Find the sense of your life and reach the top. 21 days will grant you immeasurable power
                  .img_box_7.box_img
               .separator
               .right_box_4.box
                  .img_box_8.box_img
                  .buy
                     a(href='') BUY NOW
         .img_bg
            .text_img.zoom
               | You may only be a person in this world,
               br
               | but for someone you are the world
         .triangle-bottom_4
   section
      .wrapper_5
         .cycle_out_5.zoom
            .cycle_inset_5
               img(src='../images/super.png')
         .bg_5
            .content
               .left_box_5.box
                  .img_box_9.box_img
               .separator
               .right_box_5.box
                  .text_block.zoom
                     p.title Good deed collector I am a Hero
                     p.subtitle Share your happiness with others. Teach your kids how to be a better person in 21 days. 
                  .img_box_10.box_img
                  .buy
                     a(href='') BUY NOW




block script
