- var text_wrap_1 = '“Nothing can stop the man with the right mental attitude from achieving his goal nothing on earth can help the man with the wrong mental attitude”'
- var text_wrap_2 = '“It is health that is real wealth and not pieces of gold and silver”'
- var text_wrap_3 = '“What maintains one vice would bring up two children” '
- var text_wrap_4 = '“Conquer your passions and their power will become your power,their greatness will become your beauty”'
- var text_wrap_5 = '“You may only be a person in this world, but for someone you are the world”'
- var text_wrap_6 = "“I don't mind living in a man's world, as long as I can be a woman in it”"
//-----------------------
- var description_wrap_1 ='<h2> Winning in the IN21FUN yellow</h2><p> „I am positive” stage will change your mental state and will help you to regain balance, as well as the peace of mind. Your life will make sense and be colorful once again. Your dream will be calm. Your vital energy will become stronger. Each success in the yellow stage equals a happier life.</p> <p>Do not complain – be grateful for everything you have. Dare to dream about a brighter future. Make notes for the future. Think positively. Read and watch positive pieces of information, as well as pleasant images.</p> <p>Do not swear  - look at something colorful and positive for few seconds, think about people who love you, change a topic of conversation to a more positive one, tell a joke.</p> <p>Do not get angry – smile a lot, meditate, breather deeply and slowly, drink a glass of water, listen to your favorite music for 5 minutes.</p> <p>Do not be jealous – try to find your own worth, improve your self-esteem, find a hobby, care about spiritual values.</p>'
- var description_wrap_2 ='<h2> Winning in the IN21FUN green</h2> <p>It is health that is real wealth and not pieces of gold and silver – Mahatma Gandhi </p> <p>Physical fitness is not only one of the most important keys to a healthy body, it is the basis of dynamic and creative intellectual activity – John F. Kennedy </p> <p>The secret of health for both mind and body is not to mourn for the past, worry about the future, or anticipate troubles, but to live in the present moment wisely and earnestly - Buddha</p>'
- var description_wrap_3 ='<h2> Winning in the IN21FUN orangen</h2><p>What maintains one vice would bring up two children – Benjamin Franklin </p> <p>Give every day the chance to become the most beautiful day of your life – Mark Twain </p> <p>Do not wait, the time will never be just right – Napoleon Hill</p>'
- var description_wrap_4 ="<h2> Winning in the IN21FUN red</h2><p>If your actions inspire others to dream more, learn more, do more and become more, you are a leader – John Quincy Adams </p> <p>Conquer your passions and their power will become your power, their greatness will become your beauty– Anatole France </p> <p>If you can't fly then run, if you can't run then walk, if you can't walk then crawl, but whatever you do you have to keep moving forward – Martin Luther King</p>"
- var description_wrap_5 ='<h2> Winning in the IN21FUN green</h2><p></p> <p> </p> <p> </p> <p> </p> <p></p>'
- var description_wrap_6 ='<h2> Together forever</h2><p></p> <p> </p> <p> </p> <p> </p> <p></p>'
//-----------------------
- var slider_wrap_1 = [{persona:'mike.png',name:'Michael Jackson',review:'In a world filled with hate, we must still dare to hope. In a world filled with anger, we must still dare to comfort. In a world filled with despair, we must still dare to dream. And in a world filled with di strust, we must still dare to believe'},{persona:'mike.png',name:'Michael Jackson',review:'In a world filled with hate, we must still dare to hope. In a world filled with anger, we must still dare to comfort. In a world filled with despair, we must still dare to dream. And in a world filled with di strust, we must still dare to believe'}]
- var slider_wrap_2 = [{persona:'kennedy.png',name:'John F. Kennedy ',review:'Physical fitness is not only one of the most important keys to a healthy body, it is the basis of dynamic and creative intellectual activity.'}]
- var slider_wrap_3 = [{persona:'.png',name:'',review:''}]
- var slider_wrap_4 = [{persona:'.png',name:'',review:''}]
- var slider_wrap_5 = [{persona:'.png',name:'',review:''}]
- var slider_wrap_6 = [{persona:'.png',name:'',review:''}]
//- var slider_wrap = [slider_wrap_1,slider_wrap_2,slider_wrap_3,slider_wrap_4,slider_wrap_5]
//----------------------
- var wrap_1 = {icon:'like_small.png', text:text_wrap_1, box_2_img:'w1_img_1.png', box_3_text: '21 days <span>I am positive</span> new habits',description: description_wrap_1}
- var wrap_2 = {icon:'heart_small.png', text:text_wrap_2, box_2_img:'w2_img_1.png', box_3_text: '21 days <span>Healthy style</span> new habits',description: description_wrap_2}
- var wrap_3 = {icon:'capsule_small.png', text:text_wrap_3, box_2_img:'w3_img_1.png', box_3_text: '21 days <span>Without addiction</span> new habits',description: description_wrap_3}
- var wrap_4 = {icon:'fire_small.png', text:text_wrap_4, box_2_img:'w4_img_1.png', box_3_text: '21 days <span>My passion</span> new habits',description: description_wrap_4}
- var wrap_5 = {icon:'super_small.png', text:text_wrap_5, box_2_img:'w5_img_1.png', box_3_text: '21 days <span>good deed collector</span> new habits',description: description_wrap_5}
- var wrap_6 = {icon:'sex_small.png', text:text_wrap_6, box_2_img:'w6_img_1.png', box_3_text: '21 days <span>Together forever</span> new habits',description: description_wrap_6}
- var i = [wrap_1, wrap_2, wrap_3, wrap_4, wrap_5, wrap_6]